{# These are kept for backwards compatibility. When writing new code, please include the templates in the _components folder directly #}

{% macro pixabayButton() %}
	{% include 'spring-pixabay/_components/pixabay-button' %}
{% endmacro %}

{% macro pixabayModal(logo, defaultText) %}
	{% include 'spring-pixabay/_components/pixabay-modal' with { logo: logo, defaultText: defaultText } %}
{% endmacro %}

{% macro pixabayLoading() %}
	{% include 'spring-pixabay/_components/pixabay-loading' %}
{% endmacro %}
